#body-all {
    width: 960px;
    height: 1220px;
    position: relative;
}

#camera-p {
    width: 960px;
    height: 400px;
}

/* ここらへんがわからない */
nav {    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto  20px auto;
    max-width: 960px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    font-size: 34px;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
}

/* ナビゲーションメニューのMyProfileの部分 */
.home {
    border: 1px solid black;
    padding: 0px 20px;
    margin-left: 20px;
}

/* メニューの余白 */
.menu > a {
    margin-left: 20px;
    margin-right: 20px;
}

#second-about {
text-align: center;
margin-bottom:0;
font-family: Noto Sans;
font-size: 34px;
font-weight: 700;
}

/* ↑ここまでわからない */

#kazuki-p {
border-radius: 476px 476px 476px 476px;
width: 141px;
height: 142px;
top: 631px;
left: 321px;
padding: 20px;
}

#Kazuki-name {
font-family: Noto Sans;
font-size: 24px;
font-weight: 700;
padding-left: 10px;
}

#kazuki-li {
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;    
}

#section-About {
    display: flex;
    width:580px;
    margin: 0 auto;
}

#second-works {
text-align: center;
margin-bottom:20px;
font-family: Noto Sans;
font-size: 34px;
font-weight: 700;
}

#section-works {
width:573px;
height: 329px;
display: flex;
margin:0 auto;
}

.works-div {
    display: block;
}
.works-pi {
 width:179px;
 height:134px;
 margin: 5px;
}

.works-para {
 width:178px;
 height:93px;
 font-family: Noto Sans;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
}


#copyright {
    margin: 0 auto;    
    text-align: center;
   }