#body-all {
    width: 960px;
    height: 1220px;
    position: relative;
}

#camera-p {
    width: 960px;
    height: 400px;
}


/* ここらへんがわからない */
#header {
    display:flex;
    justify-content: space-between;
    width:598px;
    height: 69px;
    margin:20px auto;
}

#fisrt-about {
    margin-left: 170px;
}

#myprofile {
    border: solid 1px black;
    display: inline-block;
    padding: 8px;
}




/* ↑ここまでわからない */

#kazuki-p {
border-radius: 476px 476px 476px 476px;
width: 141px;
height: 142px;
top: 631px;
left: 321px;
padding: 20px;
}

#Kazuki-name {
font-family: Noto Sans;
font-size: 24px;
font-weight: 700;
padding-left: 10px;
}

#kazuki-li {
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;    
}

#section-About {
    display: flex;
    width:580px;
    margin: 0 auto;
}

#second-works {
text-align: center;
margin-bottom:20px;
font-family: Noto Sans;
font-size: 34px;
font-weight: 700;
}

#section-works {
width:573px;
height: 329px;
display: flex;
margin:0 auto;
}

.works-div {
    display: block;
}
.works-pi {
 width:179px;
 height:134px;
 margin: 5px;
}

.works-para {
 width:178px;
 height:93px;
 font-family: Noto Sans;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
}


#copyright {
    margin: 0 auto;    
    text-align: center;
   }
